.activity-graph {
  display: flex;
  grid-template-columns: repeat(53, 16px); /* 53 weeks */
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

.week {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.day-box {
  padding: 1px;
  width: 9px;
  height: 9px;
  background-color: #ebedf0; /* Default gray */
  border-radius: 2.5px;
  transition: background-color 0.3s;
}

.day-box:hover {
  background-color: #007408; /* Light green on hover */
}
/* 
.graph-name {
  text-align: center;
  padding: 8px;
  font-size: 50px;
  font-weight: 5;
} */
